.paste-icon {
    position: absolute;
    right: 16%;
    cursor: pointer;
    color: #3379b7;
    font-size: 1.1rem;
}

.did {
    display: inline;
    font-size: 1.1rem;
    margin-left: 10px;
    float: right;
    margin-right: 10px;
}
